@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --color-midnight: oklch(0.1135 0.041 300.65);       /* #070211 */
  --color-dark-violet: oklch(0.2073 0.1063 298.67);   /* #200240 */
  --color-deep-indigo: oklch(0.2533 0.1363 296.38);   /* #2c015a */
  --color-purple-night: oklch(0.3081 0.1667 295.24);  /* #3b0278 */
  --color-vivid-purple: oklch(0.3649 0.2007 294.05);  /* #4b019a */
}


*{
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
}

.scrollbar-none {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.scrollbar-none::-webkit-scrollbar {
  display: none; 
}


.ani{
  animation: dropDown 500ms ease-in-out  1;
}

@keyframes dropDown {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

.ani-out{
  animation: closeDropDown 500ms ease-in-out  1;
}

@keyframes closeDropDown {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}

.blink{
  animation: cursor 0.4s infinite ;
  color: white;
}

@keyframes cursor {
  0%, 100%{
    opacity: 0;
  }
  50%{
    opacity: 100%;
  }
}

.typeWriter{
  animation: typing 4s steps(16, end) forwards;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
    0%{
      width: 0px;
    }
    100%{
      width: 16ch;
    }
}


.hi{  display: inline-block;
  animation: wave 1s infinite;
}

@keyframes wave {
  0%, 100%{
    transform: rotate(-20deg);
  }
  50%{
    transform: rotate(20deg);
  }
}

.highLight {
  animation: growAndShrink 2s ease-in-out infinite;
}

@keyframes growAndShrink {
  0%, 100% {
    transform: scale(0.5);
    box-shadow: 0 0 0 rgba(255, 255, 0, 0.7);

  }
  50% {
    transform: scale(0.8);
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.8);

  }
}

 @keyframes scroll-top {
0% {
  transform: translateY(0);
}
100% {
  transform: translateY(-33.333333%);
}
}

.animate-scroll-top {
  animation: scroll-top 20s linear infinite;
  width: max-content;
}

 @keyframes scroll-left {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-33.333333%);
}
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
  width: max-content;
}